@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/aj1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/tenis_adidas_forum_84_hi_og_bright_blue_3473_1_735e7f6910b20a1b3088c1a74d400210.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/1056914_01.jpg-b736080079.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
