@page
@{
	ViewData["Title"] = "Privacy Policy";
}

<main class="container mt-4">
    <h1>Política de Privacidade</h1>
    <p>Aqui na StreetWalk, valorizamos a privacidade dos nossos clientes e visitantes do nosso site. Esta política de privacidade descreve como coletamos, usamos e protegemos as informações que você nos fornece.</p>

    <h2>Informações que Coletamos</h2>
    <p>Coletamos informações quando você faz uma compra em nossa loja, se inscreve em nossa newsletter ou preenche um formulário de contato. As informações podem incluir seu nome, endereço de e-mail, número de telefone e outras informações necessárias para processar seu pedido ou fornecer suporte.</p>

    <h2>Uso das Informações</h2>
    <p>As informações que coletamos são utilizadas para processar transações, enviar atualizações sobre pedidos, responder a perguntas e enviar newsletters (caso você opte por recebê-las).</p>

    <h2>Proteção das Informações</h2>
    <p>Nós implementamos medidas de segurança para proteger as informações que coletamos. Utilizamos práticas padrão da indústria para garantir a segurança dos dados.</p>

    <h2>Compartilhamento de Informações</h2>
    <p>Nós não compartilhamos suas informações com terceiros sem o seu consentimento, exceto quando necessário para processar transações ou cumprir com a lei.</p>

    <h2>Contato</h2>
    <p>Se você tiver alguma dúvida ou preocupação sobre nossa política de privacidade, entre em contato conosco através do e-mail: contato@streetwalk.com</p>
</main>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>