@page
@{
    ViewData["Title"] = "Quem somos";
}

<link rel="stylesheet" type="text/css" href="~/css/quemsomos.css">

<h1>@ViewData["Title"]</h1>

<main class="container mt-4">
    <div class="content">
        <div class="text">
            <p>A StreetWalk é uma loja dedicada a fornecer os melhores tênis para entusiastas do mundo da moda e esportes. Fundada em 2010, nossa missão é oferecer uma seleção exclusiva de calçados que atendam às necessidades e estilo de vida de nossos clientes.</p>

            <h2>Nossa Visão</h2>
            <p>Queremos ser reconhecidos como a melhor loja de tênis do mercado, proporcionando uma experiência de compra excepcional e oferecendo produtos de alta qualidade e design inovador.</p>

            <h2>Compromisso com a Qualidade</h2>
            <p>Trabalhamos diretamente com marcas renomadas e garantimos a autenticidade de todos os produtos que vendemos. Nossos tênis são selecionados com cuidado para garantir o conforto, durabilidade e estilo que nossos clientes merecem.</p>

            <h2>Equipe Apaixonada</h2>
            <p>Nossa equipe é composta por entusiastas de tênis que compartilham a mesma paixão pelos produtos que oferecemos. Estamos sempre disponíveis para ajudar e fornecer orientação aos nossos clientes.</p>

            <h2>Entre em Contato</h2>
            <p>Estamos ansiosos para atender você! Se você tiver alguma dúvida ou precisar de assistência, não hesite em nos contatar através do e-mail: contato@streetwalk.com</p>
        </div>
        <div class="image">
            <img src="./pessoas-de-negocio.png" alt="Pessoas de Negócio" />
        </div>
    </div>
</main>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
