@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro de conta";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Criar uma nova conta</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Cep" class="form-control" aria-required="true" />
                <label asp-for="Input.Cep">CEP</label>
                <span asp-validation-for="Input.Cep" class="text-danger"></span>
            </div>

            <!-- Script JavaScript -->
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('#Input_Cep').on('blur', function () {
                        var cep = $(this).val().replace(/\D/g, ''); // Remove caracteres não numéricos

                        if (cep.length === 8) {
                            // Chama a API ViaCEP
                            $.getJSON(`https://viacep.com.br/ws/${cep}/json/`, function (data) {
                                if (!data.erro) {
                                    // Atualiza os campos do formulário
                                    $('#Input_Logradouro').val(data.logradouro);
                                    $('#Input_Bairro').val(data.bairro);
                                    $('#Input_Cidade').val(data.localidade);
                                    $('#Input_Uf').val(data.uf);
                                } else {
                                    // CEP não encontrado, adiciona mensagem de erro ao ModelState
                                    var errorMessage = 'CEP não encontrado. Por favor, verifique o CEP informado.';
                                    $('span[data-valmsg-for="Input.Cep"]').text(errorMessage);
                                }
                            });
                        }
                    });
                });
            </script>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
