@page
@model TP_1.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Produtos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Produtos.Id" />
            <div class="form-group">
                <label asp-for="Produtos.Nome" class="control-label"></label>
                <input asp-for="Produtos.Nome" class="form-control" />
                <span asp-validation-for="Produtos.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produtos.Descricao" class="control-label"></label>
                <input asp-for="Produtos.Descricao" class="form-control" />
                <span asp-validation-for="Produtos.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produtos.Preco" class="control-label"></label>
                <input asp-for="Produtos.Preco" class="form-control" />
                <span asp-validation-for="Produtos.Preco" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Produtos.Disponivel" /> @Html.DisplayNameFor(model => model.Produtos.Disponivel)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Produtos.DataLancamento" class="control-label"></label>
                <input asp-for="Produtos.DataLancamento" class="form-control" />
                <span asp-validation-for="Produtos.DataLancamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produtos.ImagemPath" class="control-label"></label>
                <input asp-for="Produtos.ImagemPath" class="form-control" />
                <span asp-validation-for="Produtos.ImagemPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produtos.MarcaId" class="control-label"></label>
                <select asp-for="Produtos.MarcaId" asp-items="@(new SelectList(Model.Marcas, "Id", "Nome"))" class="form-control"></select>
                <span asp-validation-for="Produtos.MarcaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
